__pycache__
cached_features/**
custom_music/**
data/**train/**
data/**test/**
data/**edge_aistpp/**
data/**dataset_backups/**
data/**dataset_backups_baseline/**
data/**dataset_backups_motionmix/**
renders/**
runs/**
wandb/**
.ipynb_checkpoints/**
*.gif
*.mp4
*.pkl
*.pt
*.npy
*.zip
